@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open sans, sans-serif;
    font-weight: 400;
    color: #444848;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    color: #484444;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 150%;
    padding: 20px;
}

/* navigation menu */

#navigation {
    letter-spacing: 3px;
    font-size: 150%;
    float: right;
    padding: 20px;
}

#navigation,
#logo {
    line-height: 50px;
}

#navigation li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    color: #444848;
}

#navigation a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/hero-image-cat.jpg) no-repeat center center;

    /* hero image animation on landing page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* level of zoom of hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 300px;

    padding-left: 20px;
    padding-top: 20px;

    background-color: rgba(255, 255, 255, 0.8);

    left: 25px;
    bottom: 25px;
    position: absolute;
}

/* About us */

#about-us {
    height: 400px;
}

#about-heading {
    text-align: center;
    padding-top: 30px;
}

#about-us p {
    padding: 30px;
    text-align: center;
}

#left-about {
    float: left;
    width: 33%;
    padding-top: 30px;
    display: inline-block;
    line-height: 25px;
}

#left-about-heading {
    text-align: center;
    line-height: 30px;
}

#right-about {
    float: right;
    width: 33%;
    padding-top: 30px;
    display: inline-block;
    line-height: 25px;
}

#right-about-heading {
    text-align: center;
    line-height: 30px;
}

#center-about {
    margin: 0 auto;
    width: 33%;
    padding-top: 30px;
    display: inline-block;
    line-height: 25px;
}

#center-about-heading {
    text-align: center;
    line-height: 30px;
}

/* animal meeting times */

#invite-heading {
    text-align: center;
    padding-bottom: 0px;
}

#times {
    background-image: url(../images/paw-and-hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    float: left;
    width: 25%;
    height: 300px;
    color: #fafafa;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    padding-top: 80px;
}

#times h2 {
    color: #fafafa
}

#times h4 {
    text-transform: capitalize;
}

/* footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #484444;
}

/* Animals page */

#animal-photos {
    clear: both;
    line-height: 0;
    column-gap: 0;
    column-count: 3;
}

#animal-photos img {
    width: 100%;
}

/* Contact page */

.contact-form {
    margin: 100px 5% 0 0;
    background-color: rgba(0, 0, 0, .4);
    color: #fafafa;
    max-width: 500px;
    position: absolute;
    left: 50%;
    padding: 30px;
}

.form-section {
    clear: both;
    background: url(../images/jack-russell-terrier.jpg);
    background-size: cover;
    height: 900px;
}

.form-section h2 {
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    width: 100%;
    height: 25px;
    background: transparent;
    border: 1px solid #fafafa;
    color: #fafafa;
    margin: 5px 0 20px 0;
    border-radius: 3px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.submit-button {
    border-radius: 3px;
    padding: 15px 30px;
    text-align: center;
    font-size: 100%;
    display: block;
    background-color: #f16c6b;
    color: #fafafa;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

textarea {
    background: transparent;
    border: 1px solid #fafafa;
    color: #fafafa;
}

textarea::placeholder {
    color: #444848;
}

/* find us at */

#find-us {
    text-align: center;
}

/* Media Queries */

/*For larger to medium screens size from 1200px wide and below */
@media screen and (max-width: 1200px) {
    #about-us {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #about-heading {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #center-about,
    #right-about {
        width: 100%;
        padding: 0;
    }

    #times>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #navigation {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #about-us {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #animal-photos {
        column-count: 2;
    }

    .contact-form {
        left: 0;
    }

}

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #animal-photos {
        column-count: 1;
    }
}