@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open sans, sans-serif;
    font-weight: 400;
    color: green;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    color: crimson;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation menu */

#navigation {
    letter-spacing: 3px;
    font-size: 150%;
    float: right;
}

#navigation,
#logo {
    line-height: 75px;
}

#navigation li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}