@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open sans, sans-serif;
    font-weight: 400;
    color: green;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    color: crimson;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation menu */

#navigation {
    letter-spacing: 3px;
    font-size: 150%;
    float: right;
}

#navigation,
#logo {
    line-height: 75px;
}

#navigation li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/hero-image-cat.jpg) no-repeat center center;

    /* hero image animation on landing page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* level of zoom of hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 300px;

    padding-left: 20px;
    padding-top: 20px;

    background-color: rgba(0, 0, 0, .2);

    left: 50px;
    bottom: 50px;
    position: absolute;
}

/* About us */

#about-us {
    height: 600px;
}

#left-about {
    float: left;
    width: 33%;
    padding-top: 20px;
    background-color: red;
    display: inline-block;
}

#right-about {
    float: right;
    width: 33%;
    padding-top: 20px;
    background-color: blue;
    display: inline-block;
}

#center-about {
    margin: 0 auto;
    width: 33%;
    padding-top: 20px;
    background-color: yellow;
    display: inline-block;
}

/* animal meeting times */

#times {
    background-image: url(../images/ladybower-reservoir-4277806_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}